<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <img src='../../assets/SBM logo.png' alt="Logo Empresarial" title="Logo" width="100px">
  <a class="navbar-brand" href="#"><b>SBMInovations</b></a>
  <a class="navbar-brand" href="/empleados">Empleados</a>
  <a class="navbar-brand" href="/insumos">Insumos</a>
  <a class="navbar-brand" href="/procesos">Procesos</a>
  <a class="navbar-brand" href="/producciones">Producciones</a>
  <a class="navbar-brand" href="/productos">Productos</a>
  <a class="navbar-brand" href="/tipdoc">Tipos Documentos</a>
  <a class="navbar-brand" href="/tipinsu">Tipo Insumos</a>
  <a class="navbar-brand" href="/tipprodu">Tipo Productos</a>
</nav>
<router-outlet></router-outlet>

<br>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 bg-secondary text-white" >

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">¡¡Contactanos!!</h5>
        <p>Si necesitas innovaciones y soluciones teconologicas de software para la actualidad, ¡¡Contactanos ya!!.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Correo:</h5>

        <ul class="list-unstyled text-white">
          <li>
            <a class="text-white" href="https://sbminnovations@gmail.com/">Email: sbminnovations@gmail.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Telefono:</h5>

        <ul class="list-unstyled text-white">
          <li>
            <a class="text-white" href="#!">3118076653</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Otros Medios</h5>

        <ul class="list-unstyled text-white">
          <li>
            <a class="text-white" href="#!"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://sbminnovations.com/"> SBMInnovations</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->