<br>
<a style="position: absolute;left: 45%;"><FONT FACE="Optima"><h1><i>:: InnoCalc EB ::</i></h1></FONT><span class="sr-only">(current)</span></a>
<br><br>
<img src='../../assets/SBM logo.png' alt="Logo Empresarial" title="Desarrollador" width="600px" align="center" style="position: relative;left: 50px;top: 15px;">
<br>
<div style="width: 500px;position: absolute;left: 60%;top: 30%;"><FONT FACE="Optima"><h4>SBMInnovations, es una empresa desarrolladora de software, que se ha mantenido como una de las líderes en este ámbito durante los últimos años.
  La empresa se dedica a buscar innovaciones para ofrecer un servicio optimo, excelente y pertinente a los usuarios, empresas y demás consumidores para así lograr un mayor desarrollo y conectividad</h4></FONT></div>