<div style="text-align:center">
  <h2>
    <br>
    <b>{{ title }}</b>
  </h2>
</div>
<br><br>

<!--------------------------------------------------------------------------------------------->
<!-- para crear un tipo de producto -->
<div class="crea text-light">
  <h4 align="center"><i><b>Crear un Tipo de Producto: </b></i></h4>
  <form (ngSubmit)="InsertarTipProdu()" [formGroup]="InsertarGTipProdu">
    <br>
    <label align="center">Nombre Tipo de Producto:</label>
    <input type="text" formControlName="textTipProd" placeholder="Ingrese Nombre">
    <br>
    <label align="center">Inicial Tipo de Producto:</label>
    <input type="text" formControlName="textiniTipProd" placeholder="Ingrese Iniciales">
    <!-- <div *ngIf="submitted && g.textTipProdu.errors && g.textiniTipProdu.errors " class="invalid-feedback">
      <div *ngIf="g.textTipProdu.errors.required" class="error-validate"> Id requerido</div>
    </div> -->
    <br><br>
    <div style="text-align:center;">
      <button type="submit" style="position:absolute; left:70%; top:76%; width:150px;">Insertar TP</button>
    </div>
    <br>
    <div style="text-align:center;">
      <input type="reset" value="Limpiar Campos" style="position:absolute; left:70%; top:58%; width:150px;">
    </div>
  </form>
  <br>
</div>
<br><br>

<!--------------------------------------------------------------------------------------------->
<!-- para actualizar un tipo de producto -->
<div class="edit text-light">
<h4 align="center" style="position:absolute; left:20%;"><i><b>Editar un Tipo de Producto:</b></i></h4>
<form (ngSubmit)="buscarEditarTipProdu(1)" [formGroup]="ActualizarATipProdu" style="position:absolute; left:5%; top:45px;">
  ID Tipo Producto:<input type="text" formControlName="ActualizarIdTipProd" placeholder="Ingrese ID de TP" style="position:absolute; left:105%; top:10;">
  <!-- <div *ngIf="submitted && f.ActualizarIdTipProdu.errors" class="invalid-feedback">
    <div *ngIf="f.ActualizarIdTipProdu.errors.required" class="error-validate">Id requerido</div>
  </div> -->
  <button type="submit" style="position:absolute; left:252%; top:0%;">Buscar</button>
  <br><br>
  <li *ngFor="let tial of MiTipProduE" style="position:absolute; left:10%;">
    <label>Nuevo Tipo de Producto</label>
    <input type="text" [value]="tial.tipo_producto" formControlName="nuevoTipProd" placeholder="Nuevo Tipo Producto">
    <br>
    <label>Nuevas Iniciales</label>
    <input type="text" [value]="tial.inicial_tipo_prod" formControlName="nuevoIniTipProd" placeholder="Iniciales Tipo Producto">
  </li>
  <br>
  <div style="text-align:center;">
    <button (click)="ActualizarTipProd()" style="position:absolute; left:288%; top:80%; width:160px;">Actualizar TP</button>
  </div>
  <br><br>
  <div style="text-align:center;">
    <input type="reset" value="Limpiar Campos" style="position:absolute; left:288%; top:55%; width:160px;">
  </div>
  <br><br>
</form>
</div>

<!--------------------------------------------------------------------------------------------->
<!-- para mostrar un solo tipo de producto -->
<div class="bus text-light" style="clear: both;">
<div>
<h4 align="center"><i><b>Buscar un Tipo de Producto por su ID</b></i></h4>
<form (ngSubmit)="buscarTipProdus(1)" [formGroup]="filtrarTipProdu">
  <label align="center">Ingrese un ID de TP a Buscar:</label>
  <input type="text" formControlName="textfiltro" placeholder="Ingrese ID">
  <button type="submit">Buscar</button>
  <br><br>
  <!-- <div *ngIf="submitted && f.textfiltro.errors" class="invalid-feedback">
    <div *ngIf="f.textfiltro.errors.required" class="error-validate"> Id requerido</div>
  </div> -->
</form>
<h2>{{tituloTipProdu}}</h2>
<table class="table table-striped text-light">
  <thead>
    <tr>
      <th>--ID--</th>
      <th>Tipo Producto</th>
      <th>Iniciales</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tial of MiTipProdu">
      <td>{{ tial.id_tipo_producto }}</td>
      <td>{{ tial.tipo_producto }}</td>
      <td>{{ tial.inicial_tipo_prod }}</td>
    </tr>
  </tbody>
</table>
</div>

<!--------------------------------------------------------------------------------------------->
<!-- para mostrar el listado de tipos de productos -->
<h4 align="center"><i><b>Todos los Tipos de Productos: </b></i></h4>
<button (click)="consultaTipProdus()" class="float-center">Consultar</button>
<table class="table table-striped text-light">
  <thead>
    <tr>
      <th>--ID--</th>
      <th>Tipo Producto</th>
      <th>Iniciales</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tial of TipProdus">
      <td>{{ tial.id_tipo_producto }}</td>
      <td>{{ tial.tipo_producto }}</td>
      <td>{{ tial.inicial_tipo_prod }}</td>
    </tr>
  </tbody>
</table>
</div>
<br><br>